#principal{
    padding: 2rem;
    display: flex;
    justify-content: center;

}
#contact{
    background-color: #f5f3f3;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}
h2 {
    margin-bottom: 20px;
    color: #1b5e20;
}
form {
    max-width: 500px;
    width: 100%;
    background-color: #f5f3f3;
}

label {
    font-weight: bold;
    margin: 10px 0 5px;
    color: #388e3c;
}

#contato{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}


input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}


.submit-btn {
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.submit-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}