
  
.section {
    padding: 20px;
    text-align: center;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    animation-delay: var(--delay, 0s);
}
a img{
    height: 60px;
}
.cards a img{
    height: 100%;
}
#imagens{
    height: 300px;
}
.cards a{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    height: 254px;
    background-color: #4CAF50;
    cursor: pointer;
    transition: all 0.4s;
    width: 190px;
    border-radius: 10px;    
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.705);
    font-weight: 900;
}
.cards:hover{
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    height: 254px;
    background-color: #00473B;
    cursor: pointer;
    transition: all 0.4s;
    width: 190px;
    border-radius: 10px;    
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.705);
    font-weight: 900;
}
.cardss{
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0rem 4rem;
}

h2{
    padding-bottom: 40px;
}

.imagens{
    width: 250px;
}
#details {
    display: none;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}