#principal{
    padding: 2rem;
}
#ongs-list {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f5f3f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.ong-card {
    background-color: #f5f3f3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 45%;
    transition: transform 0.3s ease;
}

.ong-card:hover {
    transform: rotate(-3deg) scale(1.05);
}

.ong-content {
    padding: 20px;
}

.details {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

.ong-card:hover button {
    display: inline-block;
}

button:hover {
    background-color: #45a049;
}